<div class="container">
  <h1>Welcome!</h1>
  <form action="/login" method="get">
    <input type="submit" value ="Login">
  </form>
  Or
  <form action="/signup" method="get">
    <input type="submit" value="Sign Up">
  </form>
</div>
