<div class="container">
  <form action="/login" method="post" id="login_form">
    Please log in.<br>
    <br>
    E-mail:<input type="text" name="email"><br>
    Password:<input type="text" name="password"><br>
    <input type="submit" value="Login">
  </form>
</div>
