<div class="container">
  <form action="new_user" method="post">
    <label>Username:
    <input type="text" name="user[user_name]">
    </label>
    <br>
    <label>E-Mail:
    <input type="text" name="user[email]">
    </label>
    <br>
    <label>Password:
    <input type="text" name="user[password]">
    </label>
    <input type="submit" value="Submit">
  </form>
</div>
